
body {
    background-color: #f6f4f3;
    font-family: Montserrat;
    overflow: hidden;
    
}

nav {
    position: absolute;
    top: 40px;
    right: 10px;
    padding: 10px 20px;
    color: #31241e;
}

li {
    color: #31241e;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 15px; 
}

h1{
    color: #31241e;
    position: absolute;
    top: 35px;
    left: 40px;
    font-size: 30px;
}

hr {
    position: absolute;
    top: 100px;
    height: 2px; 
    background-color: #31241e; 
    width: 96%;
    border: none;
}

form {
    margin: auto; 
    width: 850px; 
    max-height: 490px;
    background-color: #ffffff; 
    padding: 20px; 
    border-radius: 8px; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
    font-size: 16px; 
}

p {
    color: #31241e;
    font-weight: 500;
    font-size: 18px;
}

label {
    color: #31241e;
    
}

#atividadeslabel {
    font-weight: bold;
    margin-left: 10px;
    margin-bottom: 10px;
}

#signupinput {
    background-color: #31241e;
    color: #f6f4f3;
    width: 150px;
    height: 20px;
    border-radius: 5px;
    padding: 5px;
    display:inline;
    margin: 20px;
}

#atividades {
    margin-left: 20px;
}

button {
    position: relative;
    left: 350px;
    top: 10px; 
    background-color: #31241e;
}

.form {
    display: flex; 
    margin-left: 250px;
    gap: 110px; 
}

#radio {
    width: auto;
    height: 30px;
    margin-right: 10px;
    margin-left: 15px;
}