
.MuiButtonBase-root.MuiIconButton-root {
  padding: 0; 
  background-color: transparent; 
  border-radius: 8px; 
  transition: background-color 0.3s ease;
  position: relative;
  left: -5px;
  top: 0px;
}

.MuiSvgIcon-root {
  font-size: 24px; 
  color: #31241e;
}

.MuiButtonBase-root.MuiIconButton-root:hover {
  background-color: rgba(0, 123, 255, 0.1);
}

.MuiButtonBase-root.MuiIconButton-root:focus {
  outline: 2px solid #007bff; 
}


.MuiTouchRipple-root {
  display: none; 
}