.parent {
  display: flex; 
  margin-top: 0px;
  padding: 0;
  margin-left: -110px;
  justify-content: center; 
  align-items: center;
  min-height: 100vh; 
}

.container {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center; 
  gap: 10px; 
  width: 80%; 
  max-width: 1200px; 
}

.perfil {
  flex: 1 1 calc(25% - 10px); 
  max-height: 500px;
  box-sizing: border-box; 
  padding: 20px;
  text-align: center; 
  background-color: #6b5348; 
  border: 1px solid #ccc;
  border-radius: 5px;
  
}

.perfil button {
  position: relative;
  top: 10px;
  left: 0px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}

p {
    color: #ccc;
}

.filtros {
    position: relative;
    top: 120px;
    left: 1000px;
}

ul {
    display: block;
    list-style-type: none;
}

.filtrosLista {
    display: block;
    position: relative;
    right: -100px;;
    font-weight: bold;
    background-color: #6b5348;
}

li {
  font-weight: bold;
}

.div-filtros {
  display: flex;
  align-items: center;
  gap: 20px;
}

#btn-filtrar-regiao {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  position: relative;
  top: 100px;
  left: 1200px;
}

#atividade {
  margin-left: 10px;
  padding: 5px;
  font-size: 16px;
  border-radius: 2px;
  background-color: #31241e;
  position: relative;
  top: 150px;
  left: 952px;
}


