h1 {
  text-align: center;
  margin-top: 20px;
  font-family: Montserrat;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

nav ul li {
  margin: 0 20px;
  font-weight: bold;
  cursor: pointer;
}

hr {
  width: 96%;
  margin: 10px auto;
}

.parent {
  display: flex; 
  margin-top: 0;
  padding: 0;
  justify-content: center; 
  align-items: center;
  min-height: 100vh; 
}

.container {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center; 
  gap: 10px; 
  width: 80%; 
  max-width: 1200px; 
}

.perfil {
  flex: 1 1 calc(25% - 10px); 
  max-height: 500px;
  box-sizing: border-box; 
  padding: 20px;
  text-align: center; 
  background-color: #6b5348; 
  border: 1px solid #ccc;
  border-radius: 5px;
  color: white;
}

.perfil button {
  position: relative;
  top: 10px;
  left: 0;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.div-filtros {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 180px;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: -120px;
  margin-right: -780px;
}

#btn-filtrar-regiao {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-right: -350px;
  margin-left: 400px;
  margin-top: 10px;
  margin-bottom: -10px;
}

#atividade {
  padding: 5px;
  margin-top:20px;
  font-size: 16px;
  border-radius: 2px;
  background-color: #31241e;
}

p {
  color: #ccc;
}

@media (max-width: 1200px) {
  .perfil {
    flex: 1 1 calc(33.33% - 10px); 
  }
  
  #btn-filtrar-regiao, #atividade {
    top: 0; 
    left: 0;
    margin: 10px;
  }

  #atividade {
    margin-left: 10px;
  }
}

@media (max-width: 768px) {
  .perfil {
    flex: 1 1 calc(50% - 10px); 
  }

  .container {
    width: 90%;
  }

  #btn-filtrar-regiao {
    margin-bottom: 10px;
  }

  #atividade {
    margin-left: 10px;
  }
}

@media (max-width: 480px) {
  .perfil {
    flex: 1 1 100%; 
  }

  #btn-filtrar-regiao, #atividade {
    font-size: 14px;
    padding: 8px 16px;
  }
  
  #atividade {
    margin-left: 0;
  }

  nav ul {
    flex-direction: column;
  }
}
