.parent {
  display: flex; 
  margin-top: 0px;
  padding: 0;
  margin-left: -110px;
  justify-content: center; 
  align-items: center;
  min-height: 100vh; 
}

.container {
  display: flex;
  flex-wrap: wrap; 
  justify-content: center; 
  gap: 10px; 
  width: 80%; 
  max-width: 1200px; 
}

.perfil {
  flex: 1 1 calc(25% - 10px); 
  max-height: 500px;
  box-sizing: border-box; 
  padding: 20px;
  text-align: center; 
  background-color: #6b5348; 
  border: 1px solid #ccc;
  border-radius: 5px;
  
}

.perfil button {
  position: relative;
  top: 10px;
  left: 0px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.3);
}

#btnfiltros {
  position: relative;
  left: -70px;
}
p {
    color: #ccc;
}

.filtros {
    position: relative;
    top: 120px;
    left: 1000px;
}

ul {
    display: inline;
    list-style-type: none;
}

li {
    display: inline;
    padding-right: 20px;
    font-weight: bold;
}



