body {
    background-color: #f6f4f3;
    font-family: Montserrat, sans-serif;
    margin: 0;
    padding: 0;
}

.marcarencontro h1 {
    color: #31241e;
    font-size: 30px;
    margin-left: 20px;
    margin-top: 20px;
}

nav {
    position: absolute;
    top: 30px;
    right: 10px;
    padding: 10px 20px;
    color: #31241e;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 15px;
}

li {
    color: #31241e;
    font-weight: bold;
}

hr {
    position: absolute;
    top: 100px;
    height: 2px;
    background-color: #31241e;
    width: 96%;
    border: none;
}

.cardEncontro {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    font-size: 16px;
    max-width: 900px;
    margin: 50px auto;
    position: relative;
    left: 450px;
}

.encontro {
    color: #31241e;
    font-size: 18px;
    margin-bottom: 20px;
    position: relative;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    position: relative;
}

form input,
form button {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

form input[type="text"],
form input[type="datetime-local"] {
    background-color: #f6f4f3;
    color: #31241e;
}

form button {
    background-color: #31241e;
    color: #f6f4f3;
    cursor: pointer;
    width: 100%;
    font-weight: bold;
}

form label {
    font-size: 16px;
}

form .btnEnviaConvite {
    margin-top: 20px;
    margin-left: 0px;
}

#datetime-local {
  color: #31241e;
}

#label-presencial {
    color: #31241e;
}
#label-virtual {
    color: #31241e;
}

@media (max-width: 1200px) {
    .marcarencontro h1 {
        font-size: 24px;
        margin-left: 10px;
    }

    nav ul {
        gap: 10px;
    }

    .cardEncontro {
        width: 80%;
        margin: 20px auto;
        padding: 15px;
    }

    form {
        gap: 10px;
    }

    form button {
        font-size: 14px;
    }
}

@media (max-width: 768px) {
    .marcarencontro h1 {
        font-size: 20px;
        margin-left: 10px;
    }

    nav ul {
        flex-direction: column;
        gap: 8px;
    }

    .cardEncontro {
        width: 90%;
        padding: 10px;
    }

    form {
        gap: 15px;
    }

    form input,
    form button {
        font-size: 14px;
    }

    form .btnEnviaConvite {
        padding: 12px;
    }
}

@media (max-width: 480px) {
    .marcarencontro h1 {
        font-size: 18px;
        margin-left: 10px;
    }

    nav ul {
        flex-direction: column;
        gap: 5px;
    }

    .cardEncontro {
        width: 95%;
        padding: 8px;
    }

    form {
        gap: 12px;
    }

    form input,
    form button {
        font-size: 14px;
        padding: 10px;
    }

    form .btnEnviaConvite {
        padding: 10px;
    }
}
