.form-profile {
    display: inline;
    color: #31241e;
    
}

.form-profile input {
    margin: 10px;
}

.form-profile button {
    width: 20%;
    margin-left: 35%;
    margin-top: 10px;
}

.input-email {
    background-color: #f6f4f3;
    color: #31241e;
}

.btn-excluir {
    width: 13%;
    margin-left: 86%;
    margin-top: 10px;
    background-color: #31241e;;
}