.form-signup {
    display: inline;
    color: #31241e;
    
}

.form-signup input {
    margin: 10px;
}

.form-signup button {
    width: 20%;
    margin-left: 35%;
    margin-top: 10px;
}

.voluntarioUsuario {
    color: #31241e;
    font-weight: bold;
}